body{font-size:12px;}

#page11_jLabel4{
  left: 305px;
  top: 29px;
  font-size: 36px;
  font-family: "隶书";
  color: #10AEFF;
  line-height: 38px;
}

#page11_jLabel3{
  left: 607px;
  top: 26px;
  font-size: 36px;
  font-family: "隶书";
  color: #10AEFF;
  line-height: 38px;
}

#page11_jLabel2{
  left: 900px;
  top: 25px;
  font-size: 36px;
  font-family: "隶书";
  color: #10AEFF;
  line-height: 38px;
}

#page11_jChart2{
  left: 303px;
  top: 71px;
  height: 242px;
  width: 299px;
  border-style:solid;
  border-width:1pt;
}

#page11_jLabel1{
  left: 15px;
  top: 33px;
  font-size: 36px;
  font-family: "隶书";
  color: #10AEFF;
  line-height: 38px;
}

#page11_jChart1{
  left: 5px;
  top: 71px;
  height: 242px;
  width: 299px;
  border-style:solid;
  border-width:1pt;
}

#page11_jChart3{
  left: 603px;
  top: 71px;
  height: 242px;
  width: 299px;
  border-style:solid;
  border-width:1pt;
}

#page11_jChart4{
  left: 903px;
  top: 71px;
  height: 242px;
  width: 300px;
  border-style:solid;
  border-width:1pt;
}

#page11_jTable1{
  left: 4px;
  top: 356px;
  height: 210px;
  width: 879px;
}

