#page2_jAbsolutediv5{
  left: 8px;
  top: 132px;
  height: 466px;
  width: 1046px;
  position:absolute;
}

#page2_jChart1{
  height: 455px;
}

#page2_jAbsolutediv3{
  left: 324px;
  top: 21px;
  height: 101px;
  width: 306px;
  position:absolute;
}

#page2_jAbsolutediv2{
  left: 195px;
  top: 22px;
  height: 100px;
  width: 126px;
  position:absolute;
}

#page2_jAbsolutediv4{
  left: 643px;
  top: 46px;
  height: 57px;
  width: 78px;
  position:absolute;
}

#page2_jAbsolutediv1{
  left: 71px;
  top: 21px;
  height: 100px;
  width: 122px;
  position:absolute;
}

