#page5_jTable1{
  height: 310px;
  width: 700px;
}

#page5_jAbsolutediv4{
  left: 131px;
  top: 185px;
  height: 335px;
  width: 818px;
  position:absolute;
}

#page5_jAbsolutediv2{
  left: 340px;
  top: 60px;
  height: 100px;
  width: 415px;
  position:absolute;
}

#page5_jAbsolutediv3{
  left: 795px;
  top: 83px;
  height: 53px;
  width: 177px;
  position:absolute;
}

#page5_jAbsolutediv1{
  left: 200px;
  top: 59px;
  height: 92px;
  width: 124px;
  position:absolute;
}

#page5_jAbsolutediv5{
  left: 270px;
  top: 549px;
  height: 66px;
  width: 246px;
  position:absolute;
}

