body{font-size:12px;}

#page10_jGroupBox1{
  left: 62px;
  top: 20px;
  height: 97px;
  width: 689px;
}

#page10_jButton5{
  left: 578px;
  top: 55px;
  width:56px;
  height:30px;
}

#page10_jButton3{
  left: 487px;
  top: 55px;
  width:56px;
  height:29px;
}

#page10_jLabel4{
  left: 85px;
  top: 71px;
  line-height: 14px;
}

#page10_jEdit1{
  left: 169px;
  top: 64px;
  width:146px;
  height:16px;
}

#page10_jEdit2{
  left: 378px;
  top: 64px;
  width:77px;
  height:16px;
}

#page10_jLabel5{
  left: 338px;
  top: 71px;
  line-height: 14px;
}

#page10_jGroupBox2{
  left: 65px;
  top: 130px;
  height: 252px;
  width: 686px;
}

#page10_jGroupBox3{
  left: 65px;
  top: 386px;
  height: 218px;
  width: 686px;
}

#page10_jComboBox1{
  left: 116px;
  top: 399px;
  height:24px;
  width:130px;
}

#page10_jComboBox1 select{
  height:  26px;
}

#page10_jComboBox1:after{
  margin-top:6px;
}

#page10_jLabel1{
  left: 69px;
  top: 407px;
}

#page10_jComboBox4{
  left: 555px;
  top: 403px;
  height:24px;
  width:106px;
}

#page10_jComboBox4 select{
  height:  26px;
}

#page10_jComboBox4:after{
  margin-top:6px;
}

#page10_jComboBox2{
  left: 341px;
  top: 402px;
  height:23px;
  width:82px;
}

#page10_jComboBox2 select{
  height:  25px;
}

#page10_jComboBox2:after{
  margin-top:6px;
}

#page10_jLabel3{
  left: 505px;
  top: 413px;
}

#page10_jLabel2{
  left: 266px;
  top: 410px;
}

#page10_jComboBox3{
  left: 119px;
  top: 455px;
  height:24px;
  width:95px;
}

#page10_jComboBox3 select{
  height:  26px;
}

#page10_jComboBox3:after{
  margin-top:6px;
}

#page10_jButton1{
  left: 500px;
  top: 450px;
  width:57px;
  height:28px;
}

#page10_jButton2{
  left: 575px;
  top: 451px;
  width:57px;
  height:29px;
}

#page10_jLabel7{
  left: 246px;
  top: 465px;
}

#page10_jEdit3{
  left: 319px;
  top: 451px;
  width:171px;
  height:23px;
}

#page10_jLabel6{
  left: 71px;
  top: 459px;
}

#page10_jButton4{
  left: 649px;
  top: 503px;
  width:57px;
  height:28px;
}

#page10_jLabel8{
  left: 77px;
  top: 522px;
}

#page10_jEdit4{
  left: 150px;
  top: 508px;
  width:478px;
  height:23px;
}

#page10_jMemo1{
  left: 0px;
  top: 0px;
  width:650px;
  height:205px;
}

