<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <connectionStrings>
  <add name="connstr" connectionString="Data Source=192.168.1.9; Initial Catalog=WeatherStationMonitor;User ID=sa;Password=1iud0ng262626"/>
    <add name="connstr1" connectionString="Data Source=10.201.35.31; Initial Catalog=MeteoData;User ID=sa;Password=fengsu@123"/>
    <add name="ORCconnstr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.9)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));Persist Security Info=True;User ID=scott;Password=scott"/>
  </connectionStrings>
  <appSettings>
    <add key="serverIPAddress" value="192.168.1.6"/>
    <add key="serverIPPort" value="4008"/>
    <add key="WinStata" value="0"/>
    <add key="iLightStatus" value="300"/>
   <add key="AlarmThreshold1" value="15"/>
    <add key="AlarmThreshold2" value="25"/>
    <add key="AlarmThreshold3" value="35"/>
    <add key="mailFrom" value="15502101421@163.com"/>
    <add key="mailPwd" value="1iud0ng262626"/>
    <add key="host" value="smtp.163.com"/>
    <add key="mailToArray1" value="15502101421@163.com"/>
    <add key="mailToArray2" value="aq362050877@163.com"/>
    <add key="mailToArray3" value="aq362050877@163.com"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="shortMessagesServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.201.192.8:8080/dxpt/ws/shortMessageWs" binding="basicHttpBinding" bindingConfiguration="shortMessagesServiceSoapBinding" contract="ServiceReference1.IShortMessageWebService" name="ShortMessageWebServiceImplPort"/>
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
