#page2_jAbsolutediv1{
  left: 202px;
  top: 56px;
  height: 56px;
  width: 430px;
  position:absolute;
}

#page2_jAbsolutediv2{
  left: 52px;
  top: 166px;
  height: 401px;
  width: 824px;
  position:absolute;
}

